@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

html {
  // filter: invert(1) hue-rotate(180deg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Comfortaa', cursive;
  font-family: "Poppins", sans-serif;
  // font-family: 'Montserrat', sans-serif;

  transition: 0.2s ease;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  img {
    width: 100px;
  }
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .grid {
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    .cell2,
    .cell3 {
      border-radius: 50px;
      background: #ffffff;
      box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
    }
    .cell1 {
      // background-color: red;

      .location {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1em;
      }
      .temp {
        .main {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            text-transform: capitalize;
          }
          padding: 2em;
          border-radius: 1em;
          background: #ffffff;
          box-shadow: -20px 20px 60px #d9d9d9, 20px -20px 60px #ffffff;
        }
        .start {
          align-items: flex-start;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        h1 {
          font-size: 5rem;
        }
      }
      padding: 2em;
    }
    .cell2 {
      border-radius: 1em;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      padding: 2em;
      input {
        padding: 1em;
        border-radius: 1em;
        border: none;
        outline: none;
        border: 1px solid gray;
      }
      .histories {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        gap: 1em;
        p {
          width: 100%;
        }
      }
    }
    .cell3 {
      border-radius: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4em;
      padding: 2em;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      i {
        font-size: 2rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
}
.high {
  color: rgb(85, 0, 0);
}
.low {
  color: rgb(0, 95, 95);
}
.humid {
  color: rgb(0, 62, 41);
}
.wind {
  color: rgb(0, 0, 98);
}
@media screen and (max-width: 980px) {
  .cell2 {
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
    grid-row-start: 3 !important;
    grid-row-end: 4 !important;
  }
}
@media screen and (max-width: 618px) {
  .temp {
    h1 {
      font-size: 1.7rem !important;
    }
  }
  .cell3 {
    gap: 2em !important;
  }
}
